@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/NotoSerifJP-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/NotoSerifJP-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/NotoSerifJP-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/NotoSerifJP-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/NotoSerifJP-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/NotoSerifJP-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/NotoSerifJP-Black.otf') format('opentype');
}


@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    src: url('./fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    src: url('./fonts/RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
}
